<div class="columns"> <!-- start week -->
  <div class="column is-narrow">
    <div class="heading" id="week-{{ week.week }}{{ week.text | slugify }}">
      <span class="has-text-weight-medium">
        {%- if week.week %}Week {% if week.week < 10 %}0{% endif %}{{ week.week }}
        {%- else %}{{ week.text }}{% endif %}
      </span>
    </div>
  </div>

  <div class="column">
    {%- for row in site.data.schedule.rows %}
    <div class="columns"> <!-- start row -->
      {%- for day in week.days %}
      <div class="column one-third"> <!-- start day -->
        {%- for section in day.sections %}
        {%- if row == true and section.dates != true %}{% continue %}
        {%- elsif row == false and section.dates == true %}{% continue %}{% endif %}

        <div class="heading has-text-weight-medium">
          {%- unless section.dates %}{{ day.date | date: "%a %m/%d" }}{% endunless %}
          {{ section.label }}
        </div>

        {%- if section.items %}
        <ul class="icons">
          {%- for found in section.items %}

          {%- assign icon_class = site.data.icons.pending.class %}
          {%- assign item_label = site.data.icons.pending.label %}
          {%- assign item_text = 'Pending' %}
          {%- assign item_link = false %}
          {%- assign item_more = false %}
          {%- assign item_show = false %}
          {%- assign item_date = false %}
          {%- assign item_save = false %}
          {%- assign item_tube = false %}
          
          {%- if found.file %}
          {%- assign item = site.data[found.file][found.name] %}
          {%- if item.icon %}{% assign icon_class = site.data.icons[item.icon].class %}{% endif %}
          {%- if item.icon %}{% assign icon_label = site.data.icons[item.icon].label %}{% endif %}
          {%- if item.text %}{% assign item_text = item.text %}{% endif %}
          {%- if item.link %}{% assign item_link = item.link %}{% endif %}
          {%- if item.more %}{% assign item_more = item.more %}{% endif %}
          {%- if item.show %}{% assign item_show = item.show %}{% endif %}
          {%- if item.date %}{% assign item_date = item.date %}{% endif %}
          {%- if item.save %}{% assign item_save = item.save %}{% endif %}
          {%- if item.tube %}{% assign item_tube = item.tube %}{% endif %}
          {%- endif %}

          {%- if found.icon %}{% assign icon_class = site.data.icons[found.icon].class %}{% endif %}
          {%- if found.icon %}{% assign icon_label = site.data.icons[found.icon].label %}{% endif %}
          {%- if found.text %}{% assign item_text = found.text %}{% endif %}
          {%- if found.link %}{% assign item_link = found.link %}{% endif %}
          {%- if found.more %}{% assign item_more = found.more %}{% endif %}
          {%- if found.show %}{% assign item_show = found.show %}{% endif %}
          {%- if found.date %}{% assign item_date = found.date %}{% endif %}
          {%- if found.save %}{% assign item_save = found.save %}{% endif %}
          {%- if found.tube %}{% assign item_tube = found.tube %}{% endif %}

          <li class="{{ item.type | join: " " }} {{ found.type | join: " " }}">
            <i class="{{ icon_class }}" title="{{ icon_label }}"></i>
            {%- if item_show or section.dates == true and item_date %}
            {%- if item_date == day.date and item_show != true %}
            <strong>Due: </strong>
            {%- else %}
            <strong>{{ item_date | date: "%m/%d" }}: </strong>
            {%- endif %}
            {%- endif %}
            {%- if item_link %}
            <a href="{{ item_link }}">{{ item_text }}</a>
            {%- else %}
            <span>{{ item_text }}</span>
            {%- endif %}
            {%- if item_more %} {{ item_more }}{% endif %}
            {%- if item_save %} <a href="/files/{{ item_text }}.pdf"><i class="fas fa-download" title="PDF Download"></i></a>{% endif %}
            {%- if item_tube %} <a href="{{ item_tube }}"><i class="fab fa-youtube" title="Archived Video Recording"></i></a>{% endif %}
          </li>
          {%- endfor %}
        </ul>
        {%- endif %}

        {%- endfor %}
      </div> <!-- end day -->
      {% endfor %}
    </div> <!-- end row -->
    {%- endfor %}
  </div>
</div> <!-- end week -->

{% unless forloop.last %}<hr>{% endunless %}
